<footer class="page-footer blue">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">申源春的个人主页</h5>
				<p class="grey-text text-lighten-4">
				<a href="about.html" class="white-text">关于</a>
				<br/><br/>
				<a href="https://telegram.me/happen2me" class="white-text">联系</a>
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Follow</h5>
				<ul>

					<li>
						<a href="https://twitter.com/immrshen?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-lang="zh-cn" data-show-count="false">Follow @immrshen</a>
					</li>
					<li>
						<a class="github-button" href="https://github.com/happen2me" aria-label="Follow @happen2me on GitHub">Follow @happen2me</a>
					</li>
					<li><g:plusone size="tall"></g:plusone></li>
					<li>
						<div class="fb-follow" data-href="https://www.facebook.com/immr.shen" data-layout="standard" data-size="small" data-show-faces="true"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Made by Yuanchun Shen
		</div>
	</div>
</footer>