<ul id="slide-out" class="side-nav">
	<li>
		<div class="user-view">
			<div class="background">
				<img src="images/navbg.jpg">
			</div>
			<a href="#!user"><img class="circle" src="images/avatar1.jpeg"></a>
			<a href="#!name"><span class="white-text name">申源春</span></a>
			<ul class="collapsible "  data-collapsible="accordion">
				<li>
					<div class="collapsible-header white-text" style="padding-left: 0vh">immr.shen@hotmail.com
						<span style="padding-right: 0vh">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▼</span>
					</div>
					<div class="collapsible-body white-text" style="background-color: transparent;">

						<a href="mailto:immr.shen@hotmail.com" data-activates='dropdown1' style="color: white">Mail to me</a>
					</div>
					<div class="collapsible-body white-text" style="background-color: transparent;">
						<a href="https://telegram.me/happen2me" data-activates='dropdown1' style="color: white">Telegram me</a>
					</div>
				</li>
			</ul>
		</div>
	</li>
	<li>
		<a href="index.html"><i class="material-icons sidebar-material-icons">home</i>主页</a>
	</li>
	<li>
		<a href="timeline.html"><i class="material-icons sidebar-material-icons">timeline</i>时间线</a>
	</li>
	<li>
		<a href="gallery.html"><i class="material-icons sidebar-material-icons">filter_hdr</i>照片墙</a>
	</li>
	<li><div class="divider"></div></li>
	<li><a class="subheader">Info</a></li>
	<li>
		<a href="about.html"><i class="material-icons sidebar-material-icons">info</i>关于</a>
	</li>
</ul>